# Test fixture
username=user@domain.com
password=secretcode
iprestrictedUsername=iprestricteduser@domain.com
iprestrictedPassword=passwordforiprestricteduser
clientId=long-alphanumeric-sequence
clientSecret=shorter-numeric-sequence
redirectURI=http://localhost:5000/_auth
